@import "tailwindcss";

p {
  max-width: 75ch;
}

.nav-blur {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 500px;
}

@keyframes blur {
  to {
    /* Removido el brillo claro de box-shadow */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6); /* sombra oscura y suave */

    /* Azul oscuro sólido con menos transparencia */
    background: rgba(10, 15, 26, 0.5);

    /* Efecto glass con blur */
    backdrop-filter: blur(10px);
  }
}

.custom-blue {
  background-color: #0a0f1a;
}

.custom-scrollbar {
  scrollbar-color: blue #0a0f1a;
}

.custom-scrollbar {
  scrollbar-color: blue #0a0f1a; /* Firefox */
}

/* WebKit browsers (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.custom-scrollbar:-webkit-scrollbar-track {
  background: #0a0f1a;
}

.custom-scrollbar:-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 9999px; /* Fully rounded */
  border: 3px solid #0a0f1a;
}
